<!DOCTYPE html>
<html>
  <head>
    <script src="./app.component.js"></script>
  </head>
  <body>
    <mat-toolbar>Działający</mat-toolbar>
    <button mat-raised-button onclick="alert(AccountsService.isLoggedIn.toString())">Check login</button>
      <mat-card class="login-card">
        <mat-card-header>
          <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form>
            <mat-form-field>
              <input id="username" matInput placeholder="Nazwa użytkownika">
            </mat-form-field><br>
            <mat-form-field>
              <input id="password" matInput type="password" placeholder="Hasło">
            </mat-form-field><br>
            <button type="button" mat-raised-button onclick="logmein()">Zaloguj się</button>
          </form>
        </mat-card-content>
        <mat-card-footer>
          <div id="login_footer"></div>
        </mat-card-footer>
      </mat-card>
    <script>
      function logmein(){
        AccountsService.login(document.getElementById("username").value, document.getElementById("password").value);
        alert(AccountsService.isLoggedIn);
      }
    </script>
    <script>

class Enum {
  constructor(...keys) {
    keys.forEach((key, i) => {
      this[key] = i;
    });
    Object.freeze(this);
  }

  *[Symbol.iterator]() {
    for (let key of Object.keys(this)) yield key;
  }
}
class Data{
    static accounts = require("./data/accounts.json");
    static persons = require("./data/persons.json");
    static presence = require("./data/presence.json");
    static classes = require("./data/classes.json");
}
class AccountsService{
  constructor(){}
  static login(login, password){
    if (Data.accounts.students.forEach(student => {
      if (student.login == login && student.password == sha256(password)){
        this.isLoggedIn = true;
        this.user = student;
        return true;
      }
    })){
      return true;
    }
    else{
      return false;
    }
  }
  static checkLogIn()
  {
    if(document.cookie.indexOf("login") != -1 && document.cookie.indexOf("password") != -1){
      return true;
    }
    else {
      return false;
    }
  }
  static isLoggedIn = false;

}
class DataService{
  constructor(){Object.freeze(ClassTypes)}
  static ClassTypes = new Enum("normal", "sport", "twolanguage", "ukrainian");
  static getStudentsByClass(studentClass){
    return Data.persons.students.filter(element => element.class == studentClass);
  }
  static getAllStudents(){
    return Data.persons.students;
  }
  static getTeachers(){
    return Data.persons.teachers;
  }
  static getTeachersByClass(className){
    return Data.persons.teachers.filter(element => element.class == className);
  }
  static getParents(){
    return Data.persons.parents;
  }
  static getParentByStudent(studentId){
    return Data.persons.parents.filter(element => element.studentId == studentId);
  }
  static getStudentClass(id){
    return Data.persons.students.filter(element => element.id == id)[0].class;
  }
  static getClasses(){
    return Data.persons.classes;
  }
  static addStudent(student){
    Data.persons.students.push(student);
  }
  static addTeacher(teacher){
    Data.persons.teachers.push(teacher);
  }
  static addParent(parent){
    Data.persons.parents.push(parent);
  }
  static createClass(level, team, studentIds, school, type){
    Data.persons.classes.push(level,team,studentIds,school,type);
  }
  static getStudent(id){
    return Data.persons.students.find(student => student.id == id);
  }
  static getTeacher(id){
    return Data.persons.teachers.find(teacher => teacher.id == id);
  }
  static getParent(id){
    return Data.persons.parents.find(parent => parent.id == id);
  }
  static getStudentAccount(phone,password){
    return Data.accounts.students.find(student => student.phone == phone && student.password == sha256(password));
  }
  static getTeacherAccount(phone,password){
    return Data.accounts.teachers.find(teacher => teacher.phone == phone && teacher.password == sha256(password));
  }
  static getParentAccount(phone,password){
    return Data.accounts.parents.find(parent => parent.phone == phone && parent.password == sha256(password));
  }

}

function sha256(input){
  return crypto.createHash('sha256').update(JSON.stringify(input)).digest('hex')
}

    </script>
  </body>
</html>
